@model NackademinBookAzure.ViewModels.SelectedBookIndexViewModel

@{
    Layout = null;
}

<div class="col-md-6">
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
    <p>Author: @Model.Author</p>
</div>